<div class="container mx">
    <h2>Hola {{{firstName}}}!</h2>
    <div class="card" style="width: 18rem;">
        <img src="{{avatar}}" class="card-img-top" alt="imagen de perfil">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre: {{firstName}}</li>
            <li class="list-group-item">Apellido: {{lastName}}</li>
            <li class="list-group-item">Alias: {{userName}}</li>
            <li class="list-group-item">Email: {{email}}</li>
            <li class="list-group-item">Telefono: {{phone}}</li>
         </ul>
    </div>
</div>

